OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4o
